OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o
